DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@db.xxx.supabase.co:5432/postgres
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
SIGNING_SECRET=change-me-to-random-secret
API_BASE_URL=http://localhost:8000
MAIL_DOMAIN=sixel.email
